In [1]:
x = 3+5.2*7
y = None 
z = 'a', 5, 12.345,(2,'b')
df = [['Антонова Антонина', 34, 'Ж'],['Борисов Борис',26, 'М']]
A = {1, 'title', 2, 'content'}
print(x,'|', type(x), '\n', y,'|', type(y), '\n',
     z, '|',type(z), '\n', df,'|', type(df), '\n', A, '|', type(A))

39.4 | <class 'float'>
 None | <class 'NoneType'>
 ('a', 5, 12.345, (2, 'b')) | <class 'tuple'>
 [['Антонова Антонина', 34, 'Ж'], ['Борисов Борис', 26, 'М']] | <class 'list'>
 {1, 2, 'title', 'content'} | <class 'set'>

In [2]:
X = 5 >=2
A = {1,3,7,8}
B = {2,4,5,10, 'apple'}
C = A & B
df = 'Антонова Антонина', 34, 'Ж'
Z = 'type'
D = [1,'title',2,'content']

print(X,'|', type(X), '\n', A,'|', type(A), '\n',
     B, '|',type(B), '\n', C,'|', type(C), '\n', df, '|', type(df), 
      '\n', Z,'|', type(Z), '\n', D,'|', type(D))

True | <class 'bool'>
 {8, 1, 3, 7} | <class 'set'>
 {'apple', 2, 4, 5, 10} | <class 'set'>
 set() | <class 'set'>
 ('Антонова Антонина', 34, 'Ж') | <class 'tuple'>
 type | <class 'str'>
 [1, 'title', 2, 'content'] | <class 'list'>

In [4]:
x = 125
if x < 0 : 
    print("x отрицательный")
elif x == 0:
    print("x равен нулю")
else:
    print("x положительный")

x положительный

In [7]:
x = 3
if (x <= -5):
    print("-Infinity, -5")
elif (x>= -5) & (x <=5):
    print("[""-5,5""]")
else:
    print( "(""5, +infinity"")")

[-5,5]

In [ ]:
x = 1
while x <= 10:
    print(x)
    x +=3